.modal-full {
    margin-top: 4vh !important; 
    margin-bottom: 0px !important; 
    min-width: 92vw;
    margin-left: 4vw;
}
.modal-full.label{
    font-weight: bold;
}
.modal-full .modal-header {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.modal-full .modal-body {
    width: 100%;
}

.modal-smog-content {
    box-shadow: 0px 0px 4px 4px #00000099;
    border-radius: .2em;
    border: 2px solid #220405;
    background-image: url('../assets/smog_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-smog-dark {
    box-shadow: 0px 0px 4px 4px #00000099;
    border-radius: .2em;
    border: 2px solid #220405;
    background-image: url('../assets/smog_background_dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
