:root {
    --zoom-editor: 1;
    --menu-width: 12vw;
    --transition-time: 0.5s;

    --editor-menu-width: 120px;
    --pages-container-width: calc(100vw - var(--editor-menu-width))
}

body{
    overscroll-behavior: contain;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    touch-action: manipulation;

    background-image: url("../assets/wood.jpg");
    /*background-repeat: repeat-y;*/
    background-size: 100%;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

#main-menu{
    height: 100vh;
    overflow-y: scroll;
    transition: opacity var(--transition-time);
}

#whole-mission-overview{
    transition: opacity var(--transition-time);
}

#map-editor{
    transition: opacity var(--transition-time);
}




.old_button {
	box-shadow: 0px 0px 0px 2px #420609;
	background:linear-gradient(to bottom, #4f0c10 5%, #290103 100%);
	background-color:#4f0c10;
	border-radius:10px;
	border:1px solid #3d0005;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5c2a14;
}
.old_button:hover {
	background:linear-gradient(to bottom, #290103 5%, #4f0c10 100%);
	background-color:#290103;
}
.old_button:active {
	position:relative;
	top:1px;
}

.label_output_modal{
    font-size: 18px;
}

.old_label{
    font-size: 18px;
    margin-top:4px; 
    width:100%;
    text-align: center;
    color: #4A0A0A;
}


       



.menu-box{
    background-image: url("../assets/smog_background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    box-shadow: 0px 0px 4px 4px #00000099;
    border-radius: .2em;
    border: 2px solid #220405;
    width:100%;
    margin-top: 8vh;
    height: 86vh;
    /*
    border: 40px solid transparent;
    border-width: 40px 10px 0px;
    -moz-border-image: url("../assets/corner360.png") 34 18 1 29 repeat;
    -webkit-border-image: url("../assets/corner360.png") 34 18 1 29 repeat;
    -o-border-image: url("../assets/corner360.png") 34 18 1 29 repeat;
    border-image: url("../assets/corner360.png") 34 18 1 29 repeat;
    */
}

#switch_page_button{
    
    height: 40px;
    width: auto;
    /*
    position: fixed;
    right:    2vh;
    bottom:   2vh;
    width: 8vh;
    height: 8vh;
    */
}

#switch_page_button:hover{
    cursor: pointer;
}

#zoom-bar{
    position:fixed;
    bottom:8px;
}

.editor-menu{
    /*
    width: var(--editor-menu-width);
    */
    background-color: #111;
    position: fixed;
    z-index: 1;
    height: 100vh;
    color: white;


}

.pages-container{
    position: absolute;
    min-height: 100vh;
    height: 100%;

    /*
    width: var(--pages-container-width);
    left: var(--editor-menu-width);
    */
    /*overflow: auto;*/
}

.main-page{
    /*zoom: 0.5;*/
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 16px;
}

.main-page .container-fluid{
    height: 100%;
}

#pages-inner{
    transform-origin: center top;
    /*zoom: var(--zoom-editor);*//*all browsers*/
    
    width: 21cm;
    min-height: 29.7cm;
    max-height: 29.7cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100%;

    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;*/
    font-family: Georgia, serif;
    font-size: 18px;

    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/*
#pages-inner:hover{
    transform: rotateY(-180deg);
}
*/

/*tiles rotating is handled in javascript with a transform over pages-inner*/
#first-page{
    background-image: url("../assets/Fond-parchemin-2.jpg");

    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#second-page{
    background-image: url("../assets/Fond-parchemin-3.jpg");
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    transform: rotateY(-180deg);
}


/*STYLE OF DIFFERENT ELEMENTS INSIDE THE PAGES*/
.title{
    font-size: xx-large;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: bold;
    width:100%;
}

#special-rules{
    color: white;
    font-weight: bold;
    background: rgb(56,22,3);
    background: linear-gradient(90deg, rgba(56,22,3,1) 0%, rgba(66,0,2,1) 35%, rgba(74,12,10,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px #00000099;
}
#special-rules-title{
    margin-top: 4px;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: bold;
}

.sub{
    font-size: x-large;
}

/*second sheet*/
.tactical_tips_box{
    border-style: solid;
    padding:8px;
}

.tactical-tips-title{
    font-weight: bold;
    color: #991111;
}

.in-the-end{
    border-style: solid;
    padding:8px;
}

.in-the-end-title{
    font-weight: bold;
    color: #991111;
}

/*map editor*/
#map-editor-div{
    border-style: solid;
}

#map-on-project{
    max-width: 100%;
    max-height: 23cm;
    min-height: 4cm;
    object-fit: contain;
}

.map-on-project-container{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.map-on-project-container:hover{
    cursor: pointer;
    filter: brightness(120%);
}

#resize-map-on-project:hover{
    cursor: pointer;
}