:root {
    --zoom-editor: 1;
    --menu-width: 12vw;
}

body{
    overscroll-behavior: contain;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    touch-action: manipulation;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

#switch_page_button{
    width: 100%;
    /*
    position: fixed;
    right:    2vh;
    bottom:   2vh;
    width: 8vh;
    height: 8vh;
    */
}

#switch_page_button:hover{
    cursor: pointer;
}

#export_project_pdf_button{
    width: 100%;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bolder;
    /*
    position: fixed;
    right:    2vh;
    bottom:   12vh;
    width: 10vw;
    height: 8vh;  
    */
}

#zoom-bar{
    position:fixed;
    bottom:8px;
}

.zoom-button{
    width: 49%;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: bolder;
}

.editor-menu{
    /*
    height: 100vh;
    width: var(--menu-width);
    */
    background-color: #111;
    position: fixed;
    z-index: 1;
    height: 100vh;
}

.pages-container{
    /*
    height: 100vh;
    width: calc(100vw - var(--menu-width));
    */
    background-image: url("../assets/wood.png");
    background-repeat: repeat-y;
    background-size: 100%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    /*overflow: auto;*/
}

.main-page{
    /*zoom: 0.5;*/
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#pages-inner{
    transform-origin: center top;
    /*zoom: var(--zoom-editor);*//*all browsers*/
    
    width: 21cm;
    min-height: 29.7cm;
    max-height: 29.7cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100%;

    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;*/
    font-family: Georgia, serif;
    font-size: 18px;

    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/*
#pages-inner:hover{
    transform: rotateY(-180deg);
}
*/

/*tiles rotating is handled in javascript with a transform over pages-inner*/
#first-page{
    background-image: url("../assets/Fond-parchemin-2.jpg");

    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#second-page{
    background-image: url("../assets/Fond-parchemin-3.jpg");
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    transform: rotateY(-180deg);
}


/*STYLE OF DIFFERENT ELEMENTS INSIDE THE PAGES*/
.title{
    font-size: xx-large;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: bold;
    width:100%;
}

/*not very good behaviour...*/
/*
#main-page-introduction-section-title:empty:not(:focus)::after {
    content: attr(placeholder);
}
*/
/*
.cap-first-letter::first-letter {
    text-transform: capitalize;
    font-size: 200%;
    margin-top: 200px;
    margin-right: 5pt;
    text-decoration-line: none;
}
*/

#special-rules{
    color: white;
    font-weight: bold;
    background: rgb(56,22,3);
    background: linear-gradient(90deg, rgba(56,22,3,1) 0%, rgba(66,0,2,1) 35%, rgba(74,12,10,1) 100%);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px #00000099;
}
#special-rules-title{
    margin-top: 4px;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: bold;
}

.sub{
    font-size: x-large;
}

/*second sheet*/
.tactical_tips_box{
    border-style: solid;
    padding:8px;
}

.tactical-tips-title{
    font-weight: bold;
    color: #991111;
}

.in-the-end{
    border-style: solid;
    padding:8px;
}

.in-the-end-title{
    font-weight: bold;
    color: #991111;
}

/*map editor*/
#map-editor-div{
    border-style: solid;
}

#map-on-project{
    max-width: 100%;
}

.map-on-project-container{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.map-on-project-container:hover{
    cursor: pointer;
    filter: brightness(120%);
}