.modal-full {
    margin-top: 1vh !important; 
    margin-bottom: 0px !important; 
    min-width: 92vw;
    margin-left: 4vw;
}

.modal-full .modal-header {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.modal-full .modal-body {
    height: 84vh;
    width: 100%;
}

.half_window_image{
    height: 76vh;
    max-width: 100%;
    float: right;
}